.header {
  padding: 36px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-btn {
  max-width: 30px;
  height: 30px;
  background-color: transparent;
  display: grid;
  place-items: center;

  &__icon {
    width: 25px;
    height: 25px;
    fill: #000;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  width: 639px;

  &__item {
    &:nth-child(7) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
    }
    &:nth-child(7):hover .nav-list__btn .nav-list__icon {
      fill: #8856d9;
    }
    &:nth-child(7) .nav-list__link {
      color: #fff;
      font-weight: 700;
    }
  }

  &__link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.93;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: color 250ms ease-in-out;

    &:hover {
      color: #8856d9;
    }
  }
  &__btn {
    max-width: 12px;
    max-height: 12px;
    background-color: transparent;
    display: grid;
    place-items: center;
  }
  &__icon {
    width: 12px;
    height: 12px;
    fill: #000;
    transition: fill 250ms ease-in-out;
  }
}
.header-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8c96a0;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 14px;
    }
    &__number {
      font-family: "Rubik", sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #a9c7c7;
    }
    &__letter {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #8c96a0;
    }
  }
}
